%no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none; 
    overflow: -moz-scrollbars-none;
    &::-webkit-scrollbar { 
        display: none;
    }
}

body {
    max-width: 100vw;
    min-height: 100vh;
    overflow-x: hidden;
    .d-flex {
        flex-wrap: wrap;
    }
    summary {
        cursor: auto;
    }
    @extend %no-scrollbar
}

header {
    background-color: #FFF;
}

main {
    article {
        border: 1px inset grey;
        border-radius: .5rem;
        a {
            overflow-wrap: break-word;
            &.view-modal {
                color: inherit;
                text-decoration: none;
            }
        }
    }
}

.modal-dialog {
    &.modal-dialog-centered {
        .modal-body {
            @extend %no-scrollbar
        }
        .modal-content {
            @extend %no-scrollbar;
            iframe {
                width: 100%;
                @extend %no-scrollbar
            }
        }
    }
}