
<div class="modal fade" id="detailsModal" tabindex="-1" aria-labelledby="detailsModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="detailsModalLabel">Modal title</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body" id="content-wrapper"></div>
    </div>
  </div>
</div>    

    <script>     

        document.querySelectorAll('.view-modal').forEach(el => el.addEventListener('click', function(e) {
          e.preventDefault()

          const header = document.getElementById('detailsModalLabel'),
                wrapper = document.getElementById('content-wrapper'),
                content = el.getAttribute("href"),
                pubdate = el.getAttribute('data-pub'),
                itemid = el.getAttribute('data-id')
 
          header.innerHTML = 'Decreet no. ' + itemid + ' of ' + pubdate + ',<br>completes:'
          wrapper.innerHTML = '<iframe src=' + content + '/></iframe>'

        }))

    </script>