{{page-title "Vlaanderen"}}

<header class="row text-center py-3">
    <h1>EmberJS + SPARQL App</h1>
    <blockquote class="px-3">
        A small web application listing the title and publication date of the 5 latest decrees published by the Flemish Government.
    </blockquote>
</header>

{{outlet}}

<footer class="row">
    
</footer>

